<div class="row">
  <?php get_template_part('templates/sidebar', 'left'); ?>
  <div class="col-sm-9">
	<div class="row">

<?php
 
// check if the flexible content field has rows of data
if( have_rows('columns') ):
 
 	// loop through the rows of data
    while ( have_rows('columns') ) : the_row();
 
		echo '<div class="col-sm-4">';

		// check current row layout
        if( get_row_layout() == 'internal_link' ):

$image 		= get_field('featured_image');
$excerpt 	= get_field('excerpt');
$title		= get_field('title');
$buttonlabel = get_field('button_label');
$buttonlink = get_field('button_link');

	if( $buttonlink ): 
	 
		// override $post
		$post = $buttonlink;
		setup_postdata( $post ); 

if( !empty($image) ): ?>
	<img src="<?php echo $image['url']; ?>" alt="<?php echo $image['alt']; ?>" />
<?php endif; ?>

<?php if( !empty($title) ): ?>
	 <h3><a href="<?php the_permalink(); ?>"><?php echo $title; ?></a></h3>
<?php endif; ?>

<?php if( !empty($excerpt) ): ?>
	 <p><?php echo $excerpt; ?></p>
<?php endif; ?>

<?php if( !empty($buttonlabel) ): ?>
        <a class="btn btn-primary" href="<?php the_permalink(); ?>">
        	<?php echo $buttonlabel; ?>
        </a>
<?php endif; ?>

<?php wp_reset_postdata();

	 endif;


			endif;



 
		echo '</div>';

    endwhile;
 
else :
 
    // no layouts found
 
endif; ?>
 
	</div>
  </div>
</div>